h1{
font-size: 150px;
color:white;
font-family: lobster, Serif;
text-shadow: -2px 2px 3px black;

}
h2{
  text-shadow: -2px 2px 3px black;
  padding-top: 20px;
  padding-bottom:70px;
  padding-left: 20px;
  color:white;
}

h3{
   padding-left: 150px;

}

h4{
  color:white;
  font-size:60px;
  text-shadow: -2px 2px 3px black;
   padding-top: 70px;
   padding-left: 80px;
}


p{
  color:white;
  text-shadow: -2px 2px 3px black;
  font-size: 25px;
  font-family: serif;
  width: 100%;

}
.larger-image {
    width: 700px;
  }

xdiv {
  outline: 1px solid red;
}
.otter{
 width: 100%;
  padding-top:70px;
}

.small{
  width: 70%;
  padding-top:70px;
}
.roomies{
 width: 100%;

}
.plaque {
   color: #3a8bc2;
   font-weight:bold;
   font-size: 20px;
   font-family: sans-serif;
   text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
   border: 5px solid white;
   border-radius: px;
   box-shadow: 0 2px 5px #000;
   padding-left: 5px;
   padding-right: 5px;
   padding-top: 2px;
   padding-bottom: 2px;
   border-bottom-color: rgba(38,85,139,1);
   border-left-color: rgba(206,219,233,1);
   border-right-color: rgba(206,219,233,1);
   background: linear-gradient(to bottom, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%);
 }
 .plaque:hover {
   background: linear-gradient(to bottom, #ffd7a3 0%,#fcbd6a 100%);
 }


body {
  background: #b3d9ff url(bg.jpg) top left no-repeat;
  background-image: url("../images/ocean.jpeg");
  background-size: cover;
}
@media (max-width: 767px) {
  h4 {
    padding-left: 0px;
  }
  div {
   outline: 1px solid red;
  }
}
