h1{
font-size: 100px;
font-family: lobster, Serif;

}
h2{
  padding-bottom:20px;
   padding-left: 20px;

}
h3{
   padding-left: 150px;

}
p{
  font-size: 25px;
  font-family: serif;
  width: 100%;

}
xdiv {
  outline: 1px solid red;
}
.otter{
 width: 100%;
  padding-top:70px;
}

.roomies{
 width: 100%;

}
body {
  background-image: url("../images/ocean.jpeg");
  background-size: cover;
}
